/* row class */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);


.link {
  color: #ffffff;
  
}
.btn {
  
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;

  background-color: #2e82c2;
  border: none;
  color: white;  /*rgb(23, 53, 145)*/
  padding: 1% 2%;
  font-size: 22px;
  cursor: pointer;
  /*width according to inner text*/
  width: 400px;
  /* adjustable height based on the page */
  height: 100%;
  border-radius: 12px;
}


.btn-infn {
  
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f58d04;
  border: none;
  color: white;  /*rgb(23, 53, 145)*/
  padding: 1% 2%;
  font-size: 22px;
  cursor: pointer;
  /*width according to inner text*/
  width: 400px;
  /* adjustable height based on the page */
  height: 100%;
  border-radius: 12px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #3a94d8;
}

/* Darker background on mouse-over */
.btn-infn:hover {
  background-color: #F6981E;
}



* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  
  border-radius: 50px;
  float: left;
  width: 45%;
  padding: 10%;
  text-align: center;
  /*height: 300px;*/
  
}
div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 100px;
  width: 0px;
}
/* Clear floats after the columns */
.row {
 
  padding: 0%;
  margin: 10%;
  width: 80%;
  border: 30%;
  content: "";
  display: table;
  clear: both;
}

html, body {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-color: #f58d04;
  border-width: 100pt;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 100%;
}

a {
  color:rgb(23, 53, 145)
}

form {
  padding: 0%;
  margin: 5%;
  width: 100%;
  border: 0%;
  content: "";
  display: table;
  clear: both;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}